{template 'common/header'}

<img src="{php echo tomedia();}" alt="">


<div class="panel panel-default">
    <div class="panel-heading">活动名称</div>
    <div class="panel-body">
        {$activity['title']}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">活动时间</div>
    <div class="panel-body">
        {$activity['start_time']} ~ {$activity['end_time']}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">详细内容</div>
    <div class="panel-body">
        {$activity['info']}
    </div>
</div>

<a class="btn btn-danger btn-block">报名</a>

{template 'common/footer'}