{template 'common/header'}
<div class="panel panel-default">
    <div class="panel-heading">编辑活动</div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">活动名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">活动图片</label>
                <div class="col-sm-10">
                    {php echo tpl_form_field_image('thumb');}
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">活动时间</label>
                <div class="col-sm-10">
                    {php echo tpl_form_field_daterange('birth');}
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">活动介绍</label>
                <div class="col-sm-10">
                    {php echo tpl_ueditor('content')}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>


{php echo tpl_ueditor('../')}
<script type="text/javascript">
    <!--
    // ueditoroption 这个变量是微擎定义好的百度编辑器的初始化参数，直接使用即可
    var editor = UE.getEditor('content', ueditoroption);
    editor.addListener('contentChange', function() {
        //此处增加了侦听编辑器内容变化的事件
        //do something
    });
    editor.addListener('ready', function(){
        //此处增加了侦听编辑器初始化的事件
        //do something
    });
    //-->
</script>
{template 'common/footer'}