{template 'common/header'}
<div class="pane panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <h1>报名记录</h1>
        </div>
    </div>
    <div class="panel-body">


        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>姓名</th>
                <th>性别</th>
                <th>图片</th>
                <th>手机号</th>
            </tr>
            </thead>
            <tbody>
            {loop $res $key $item}
            <tr>
                <th scope="row">{$item['id']}</th>
                <td>{$item['name']}</td>
                <td>{$item['sex']}</td>
                <td><img src="{php echo tomedia($item['pic']);}" alt=""></td>
                <td>{$item['mobile']}</td>
            </tr>
            {/loop}
            </tbody>
        </table>

    </div>
</div>
{template 'common/footer'}